@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="" style="margin-top: 40px;">
        <h1 class="text-start text-lg"> PROFESORES </h1>
        <div class="flex items-center gap-4">
            <span> Crear: </span>
            <a class="block w-fit p-4 bg-blue-700" asp-area="" asp-controller="Profesores" asp-action="Create">Profesores</a>
        </div>
    </div>
</div>
